<form [formGroup]="form">
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
            <label htmlFor="name">Name</label>
            <input pInputText id="name" type="text" />
        </div>
        <app-form-field label="Email" class="col-12 md:col-6">
            <div>
                <input pInputText id="email" type="email" />
            </div>
        </app-form-field>
        <app-form-field label="Phones" class="col-12 md:col-6">
            <ng-container formArrayName="phone">
                <div *ngFor="let cntl of phoneArray.controls; let i=index" class="flex flex-nowrap mb-2">
                    <app-telephone-inputt [formControlName]="i" class="w-full"></app-telephone-inputt>
                    <button pButton type="button" class="pi pi-trash p-button-danger p-button-icon-only"
                        (click)="deletePhone(cntl)"></button>
                </div>
            </ng-container>
            <!-- added col fix styling when there is no phone in the phone array-->
            <div class="flex flex-nowrap">
                <app-telephone-inputt class="w-full" [formControl]="emptyPhoneControl"></app-telephone-inputt>
                <button pButton type="button" class="pi pi-plus p-button-icon-only" (click)="addNewPhone()"></button>
            </div>
        </app-form-field>
    </div>
</form>
<app-form-footer (cancel)="closeForm()" (save)="save(true)"></app-form-footer>