<div class="card mb-5 lg:mb-8 w-100 shadow">
    <div class="card-header mb-5 flex justify-content-between align-items-start flex-nowrap">
        <div class="card-title align-self-start">
            <span>{{title}}</span>
        </div>
        <div class="card-toolbar">
            <ng-content select="[card-toolbar],app-single-view-toolbar,app-form-toolbar,app-list-toolbar"></ng-content>
        </div>
    </div>
    <div class="card-body py-3">
        <h6 class="card-subtitle mb-2 text-muted" *ngIf="subtitle">{{subtitle}}</h6>
        <ng-content></ng-content>
    </div>
    <div class="card-footer">
        <ng-content select="[card-footer],app-form-footer"></ng-content>
    </div>
</div>