<div class="d-flex justify-content-between align-items-center flex-wrap mt-3">

  <div class="align-items-center bg-light d-flex p-1 px-3 rounded text-gray-700">

    <div class="spinner-grow text-info" role="status" *ngIf="isLoading">
      <span class="visually-hidden" ></span>
    </div>

    <!-- begin: pageSize -->
    <span class="react-bootstrap-table-pagin pagination-total">{{paginationText}}</span>
    <span class="mx-2 fs-6 text-gray-400">|</span>
    <span class="" ></span>

    <select class="form-select form-select-sm mx-1 bg-light py-1" style="width: 6em" [(ngModel)]="paginator.pageSize"
      (change)="sizeChange()">
      <option class="btn btn-sm" *ngFor="let ps of pageSizes">
        {{ ps }}
      </option>
    </select>

    <!-- end: pageSize -->
  </div>

  <!-- start: Paginator -->
  <div class="d-flex flex-wrap py-2 mr-3">
    <ng-pagination [collectionSize]="paginator.total" [(page)]="paginator.pageNumber" [maxSize]="4" [rotate]="true"
      [boundaryLinks]="true" [pageSize]="paginator.pageSize" (pageChange)="pageChange($event)"></ng-pagination>
  </div>
  <!-- end: Paginator -->
</div>
