<app-card [title]="title">
	<div class="table-responsive">
		
		<p-table (sortFunction)="sortChange($event)" [customSort]="true" [value]="dataSource.items$|async"
		[tableStyle]="{'min-width': '60rem'}">
		<ng-template pTemplate="caption">
			<div class="flex align-items-center justify-content-between">
				Products
				<app-list-toolbar (create)="addEntity()"></app-list-toolbar>
				</div>
			</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon>
					</th>
					<th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
					</th>
					<th>Email</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-product>
				<tr *ngFor="let item of dataSource.items$|async">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.email}}</td>
					<td>{{item.phone}}</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="summary">
			</ng-template>

		</p-table>
		<app-table-paginator [pageState]="dataSource.pageState$|async" [loading]="dataSource.loading$|async" 
		(pagenate)="pagenatorChange($event)">
		</app-table-paginator>
	</div>
</app-card>